#about-container {
  display: grid;
  grid-template-columns: [first] 15% [content] auto [last] 15% [end];
}

#about-content {
  p {
  }
  img {
  }
}

#about-img-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1vh;
}
