#message-call-out {
  color: $highlight-color;
}

#message-box {
  background-color: $highlight-color;
  max-width: 80vw;
  box-shadow: 5px 5px 10px $box-shadow;
  p {
    padding: 3vh;
    color: whitesmoke;
    text-align: center;
    font-family: $font-stack;
    font-size: 0.8em;
  }
}

#course-block-container {
  margin: 15vh 20vw 4vh 20vw;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-gap: 1vh;
}

//ind course info

#ind-container {
  margin-top: 8vh;
  display: flex;
  justify-content: space-evenly;
}

#ind-class-left {
  width: 25vw;
}

#ind-class-right {
  width: 45vw;
}

.ind-class-date-chips {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1vh;
  max-width: 45vw;
}

#ind-class-schedule-chips {
  display: flex;
  flex-direction: column;
}

#ind-class-content {
  h2 {
    color: $highlight-color;
  }
}

.indChip {
  max-width: 7vw;
}

.indChipSchedule {
  max-width: 35vw;
  margin-top: 1vh;
}

.ind-class-radio {
  font-family: $font-stack;
  font-size: 0.75em;
}

.ind-class-text {
  font-family: $titles;
  font-size: 0.8em;
}
