$primary-color: #0b005d;
$highlight-color: #009388;
$call-to-action: #de4c40;
$call-to-highlight: #89fff6;
$text-color: #3c4043;
$bg-color: #f0f0f0;
$box-shadow: rgba(150, 150, 150, 0.4);

$titles: 'Gentium Basic', serif;
$font-stack: 'Open Sans', sans-serif;

body {
  margin: 0px;
  text-decoration: none;
  padding-bottom: 50vh;
}

h1 {
  color: $primary-color;
  font-size: 5vh;
  font-weight: 100;
}
h2 {
  text-align: center;
  color: $text-color;
  font-size: 1.5em;
  font-weight: 100;
}

#navBar {
  margin-top: 5vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 3vh;
  a {
    font-family: $titles;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: $highlight-color;
    text-decoration: underline;
  }
}

#topbar {
  position: fixed;
  top: 0;
  background-color: $call-to-action;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  height: 4vh;
  p {
    font-family: $font-stack;
    font-size: 0.76em;
    color: $bg-color;
    a {
      text-decoration: none;
      color: $call-to-highlight;
    }
    a:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
}

#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bg-color;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#ftcontainer {
  grid-column-start: 2;
  display: inline-grid;
  grid-template-columns: repeat(2, auto);

  p {
    color: $primary-color;
    font-family: $titles;
    font-size: 0.85em;
  }
  #tel {
    font-family: $titles;
    text-decoration: none;
    color: $text-color;
    display: block;
    font-size: 0.75em;
  }
  a {
    font-family: $titles;
    text-decoration: none;
    color: $text-color;
    display: block;
    font-size: 0.75em;
  }
  a:hover {
    color: $highlight-color;
    text-decoration: underline;
  }
}

#quick-lnks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import 'hpg.scss';
@import 'about.scss';
@import 'footerPages.scss';
