body {
  margin: 0px;
  text-decoration: none;
  padding-bottom: 50vh;
}

#navBar {
  margin-top: 5vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 3vh;
}
#navBar a {
  font-family: 'Gentium Basic', serif;
  color: #3c4043;
  text-decoration: none;
  text-transform: uppercase;
}
#navBar a:hover {
  color: #009388;
  text-decoration: underline;
}

#topbar {
  position: fixed;
  top: 0;
  background-color: #de4c40;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  height: 4vh;
}
#topbar p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.76em;
  color: #f0f0f0;
}
#topbar p a {
  text-decoration: none;
  color: #89fff6;
}
#topbar p a:hover {
  color: #3c4043;
  text-decoration: underline;
}

#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#ftcontainer {
  grid-column-start: 2;
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
}
#ftcontainer p {
  color: #0b005d;
  font-family: 'Gentium Basic', serif;
  font-size: 0.85em;
}
#ftcontainer a {
  font-family: 'Gentium Basic', serif;
  text-decoration: none;
  color: #3c4043;
  display: block;
  font-size: 0.75em;
}
#ftcontainer a:hover {
  color: #009388;
  text-decoration: underline;
}

#quick-lnks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headline-text {
  max-width: 80vw;
  padding: 7vh 0vw 3vh 0vw;
}

h1 {
  color: #0b005d;
  font-size: 5vh;
  font-weight: 100;
}

#headline-box {
  background-color: #f0f0f0;
  max-width: 80vw;
  box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.4);
}
#headline-box p {
  padding: 3vh;
  color: #3c4043;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

#class-boxes {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(5, 23%);
  grid-gap: 2vh;
  padding-top: 10vh;
}

#bx1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.hpg-classBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 10px rgba(150, 150, 150, 0.4);
  min-height: 25vh;
}

.hpg-classBx:hover {
  border: 2px solid;
  border-color: #009388;
}

.highlight {
  padding-top: 7vh;
  display: grid;
  grid-template-columns: [first] 19% [line2] auto [line3] 20% [end];
  grid-template-rows: repeat(5, 5vh [high-row]);
}
.highlight .highlight-box {
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
  background-color: #f0f0f0;
  width: 60vw;
  height: 14vh;
  z-index: -1;
  box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.4);
}
.highlight .highlight-text {
  grid-column-start: line2;
}
.highlight .highlight-text h2 {
  z-index: 1;
  text-align: center;
  color: #3c4043;
  font-size: 1.5em;
  font-weight: 100;
}
.highlight #hi-content {
  padding: 1vh 3vw 0 20vw;
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
}
.highlight #hi-content p {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.highlight #hi-img {
  grid-column-start: line2;
  grid-row: high-row 1 / high-row 5;
  max-width: auto;
  height: 25vh;
  padding-left: 3vw;
}
.highlight #abt-content {
  padding: 1vh 20vw 0 3vw;
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
}
.highlight #abt-content p {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.highlight #abt-img {
  grid-column-start: line2;
  grid-row: high-row 1 / high-row 5;
  max-width: auto;
  height: 25vh;
  padding-left: 43vw;
}

.hpgBtn {
  background-color: #009388;
  font-family: 'Gentium Basic', serif;
  color: #f0f0f0;
}

#signup {
  background-color: #de4c40;
  width: 45vw;
  height: 12vh;
  padding: 10px;
}
#signup p {
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}
#signup form {
  background: whitesmoke;
  color: #3c4043;
  width: 30vw;
  height: 3vh;
}
#signup button {
  background-color: #de4c40;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  border: none;
}
#signup button:hover {
  color: #f0f0f0;
  border: 1px solid;
  border-color: #3c4043;
}
