body {
  margin: 0px;
  text-decoration: none;
  padding-bottom: 50vh;
}

h1 {
  color: #0b005d;
  font-size: 5vh;
  font-weight: 100;
}

h2 {
  text-align: center;
  color: #3c4043;
  font-size: 1.5em;
  font-weight: 100;
}

#navBar {
  margin-top: 5vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 3vh;
}
#navBar a {
  font-family: 'Gentium Basic', serif;
  color: #3c4043;
  text-decoration: none;
  text-transform: uppercase;
}
#navBar a:hover {
  color: #009388;
  text-decoration: underline;
}

#topbar {
  position: fixed;
  top: 0;
  background-color: #de4c40;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  height: 4vh;
}
#topbar p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.76em;
  color: #f0f0f0;
}
#topbar p a {
  text-decoration: none;
  color: #89fff6;
}
#topbar p a:hover {
  color: #3c4043;
  text-decoration: underline;
}

#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#ftcontainer {
  grid-column-start: 2;
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
}
#ftcontainer p {
  color: #0b005d;
  font-family: 'Gentium Basic', serif;
  font-size: 0.85em;
}
#ftcontainer #tel {
  font-family: 'Gentium Basic', serif;
  text-decoration: none;
  color: #3c4043;
  display: block;
  font-size: 0.75em;
}
#ftcontainer a {
  font-family: 'Gentium Basic', serif;
  text-decoration: none;
  color: #3c4043;
  display: block;
  font-size: 0.75em;
}
#ftcontainer a:hover {
  color: #009388;
  text-decoration: underline;
}

#quick-lnks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headline-text {
  max-width: 80vw;
  padding: 7vh 0vw 3vh 0vw;
}

#headline-box {
  background-color: #f0f0f0;
  max-width: 80vw;
  box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.4);
}
#headline-box p {
  padding: 3vh;
  color: #3c4043;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

#class-boxes {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(5, 23%);
  grid-gap: 2vh;
  padding-top: 10vh;
}

#bx1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.hpg-classBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 10px rgba(150, 150, 150, 0.4);
  min-height: 25vh;
}

.hpg-classBx:hover {
  border: 2px solid;
  border-color: #009388;
}

.highlight {
  padding-top: 7vh;
  display: grid;
  grid-template-columns: [first] 19% [line2] auto [line3] 20% [end];
  grid-template-rows: repeat(5, 5vh [high-row]);
}
.highlight .highlight-box {
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
  background-color: #f0f0f0;
  width: 60vw;
  height: 14vh;
  z-index: -1;
  box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.4);
}
.highlight .highlight-text {
  grid-column-start: line2;
}
.highlight .highlight-text h2 {
  z-index: 1;
  text-align: center;
  color: #3c4043;
  font-size: 1.5em;
  font-weight: 100;
}
.highlight #hi-content {
  padding: 1vh 3vw 0 20vw;
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
}
.highlight #hi-content p {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.highlight #hi-img {
  grid-column-start: line2;
  grid-row: high-row 1 / high-row 5;
  max-width: auto;
  height: 25vh;
  padding-left: 3vw;
}
.highlight #abt-content {
  padding: 1vh 20vw 0 3vw;
  grid-column: line2 / line2;
  grid-row: high-row 2 / high-row 4;
}
.highlight #abt-content p {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.highlight #abt-img {
  grid-column-start: line2;
  grid-row: high-row 1 / high-row 5;
  max-width: auto;
  height: 25vh;
  padding-left: 43vw;
}

.hpgBtn {
  background-color: #009388;
  font-family: 'Gentium Basic', serif;
  color: #f0f0f0;
}

#signup-container {
  margin-top: 24vh;
  display: grid;
  grid-template-columns: [first] 19% [line2] auto [line3] 20% [end];
}

#signup {
  background-color: #de4c40;
  grid-column: line2 / line2;
  width: 54vw;
  padding: 1vh 3vw 3vh 4vh;
}
#signup p {
  color: #f0f0f0;
  font-family: 'Gentium Basic', serif;
  font-size: 1.2em;
}
#signup form {
  color: #3c4043;
}
#signup button {
  background-color: #de4c40;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: none;
}
#signup button:hover {
  color: #f0f0f0;
  border: 1px solid;
  border-color: #3c4043;
}
#signup #signup-form {
  display: flex;
}
#signup .form-group label {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}
#signup .form-group textarea {
  width: 54vw;
}

#about-container {
  display: grid;
  grid-template-columns: [first] 15% [line2] auto [line3] 15% [end];
}

#about-column {
  grid-column: line2 / span 1;
}

#about-content {
  display: flex;
  justify-content: space-between;
}
#about-content p {
  width: 45%;
}
#about-content img {
  width: 50%;
}

#about-img-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1vh;
}
#about-img-grid img {
  width: 13vw;
  height: auto;
}
#about-img-grid .colorBtn {
  width: 13vw;
  height: auto;
}
#about-img-grid #about-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#faqContainer {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#faqContainer .question {
  font-family: 'Gentium Basic', serif;
  font-size: 1em;
}
#faqContainer .answer {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  color: #3c4043;
}

#testContainer {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#testContainer #testContent .question {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
#testContainer #testContent .answer {
  font-family: 'Gentium Basic', serif;
  font-size: 0.7em;
}

#message-call-out {
  color: #009388;
}

#message-box {
  background-color: #009388;
  max-width: 80vw;
  box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.4);
}
#message-box p {
  padding: 3vh;
  color: whitesmoke;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

#course-block-container {
  margin: 15vh 20vw 4vh 20vw;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-gap: 1vh;
}

#ind-container {
  margin-top: 8vh;
  display: flex;
  justify-content: space-evenly;
}

#ind-class-left {
  width: 25vw;
}

#ind-class-right {
  width: 45vw;
}

.ind-class-date-chips {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1vh;
  max-width: 45vw;
}

#ind-class-schedule-chips {
  display: flex;
  flex-direction: column;
}

#ind-class-content h2 {
  color: #009388;
}

.indChip {
  max-width: 7vw;
}

.indChipSchedule {
  max-width: 35vw;
  margin-top: 1vh;
}

.ind-class-radio {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
}

.ind-class-text {
  font-family: 'Gentium Basic', serif;
  font-size: 0.8em;
}

.snackbar {
  position: center;
  max-width: 20vw;
}
